body {
    user-select: none;
    
    background: powderblue;
    background-image: url("./logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.unused-class {
    background-color: gray;
}
